@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2f2c34;
  --magenta-dark: #3c353d;
  --orange: #f9b028;
  --title-red: #ec7373;
  --muted-red: #b55656;
  --off-white: #f5f5f5;
}

body {
  color: var(--off-white);
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(var(--magenta-dark), var(--primary-color));
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.radial-background {
  background: radial-gradient(var(--magenta-dark), var(--primary-color));
  height: 100%;
}

.container {
  height: 100%;
}

/* -------------------- FONTS -------------------- */
.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.inria-sans-regular {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inria-sans-semibold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inria-sans-light-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.inria-sans-regular-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.inria-sans-bold-italic {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-basic {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.zilla-slab-medium {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-style: normal;
}

.muted-red {
  color: var(--muted-red);
}

.title-red {
  color: var(--title-red);
}

.orange {
  color: var(--orange);
}

/* -------------------- MAIN PAGE -------------------- */
.code-connect-title {
  font-size: 5rem;
  line-height: 1;
}

.line {
  display: block;
  width: 70%;
  height: 1px;
  background-color: var(--off-white);
}

.rem-one {
  font-size: 1rem;
}

.blur {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.main-page-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main-subtitle {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .main-page-contents {
    flex-direction: column !important;
    align-items: center !important;
  }

  .main-page-holder {
    align-items: center !important;
  }

  .filtertag-holder {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .filter-holder {
    margin: 0 !important;
    width: 100% !important;
  }
}

.main-page-filter-box {
  height: auto;
  min-height: 8.25rem;
  border-width: 2px;
  border-color: var(--off-white);
}

.main-page-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.form-input {
  color: #2f2c34;
}

.tag-item {
  width: auto;
}

.selected-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.custom-select {
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 0.25rem;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow-y: auto;
}

.custom-select option {
  background-color: black;
  color: white;
}

body {
  font-family: Arial, sans-serif;
}

.dropdown {
  position: relative;
  width: 300px;
  margin: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown-list li {
  padding: 10px;
  cursor: pointer;
}

.single-selector {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-selector-item {
  cursor: pointer;
}
