.bento-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px; 
  margin: 0 auto; 
  width: 95%; 
}

.bento-box {
  background-color: red;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border: 1.5px solid var(--off-white);
  border-radius: 0.25rem;
}

.full-width {
  grid-column: span 2;
  max-width: 100%;
}

.half-width {
  grid-column: span 1;
}

@media (max-width: 768px) {
  .bento-container {
    grid-template-columns: 1fr;
  }

  .full-width,
  .half-width {
    grid-column: span 1;
  }
}

.project-page-project-name {
  font-size: 2rem;
  text-decoration: underline;
}

.project-preview-link {
  color: var(--title-red);
  font-size: 1.5rem;
  text-decoration: underline;
}

.preview {
  margin-bottom: 1rem;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.star{
  max-width: none;
  
}